
@import "variables";

*, *::before, *::after {padding:0;margin:0 auto;box-sizing:border-box;font-family:Arial, Helvetica, sans-serif;font-size:18px;}

li {list-style-type: none;display:inline-block;}

p {display:inline-block;}

img {max-width:10rem;}


@import "header";

@import "ejercicios";


footer {
    color:$violet;
    background-color: #fff;

    position:absolute;
    bottom: 0;
    right:0 ;

    a {
        color:$blueviolet;
    }
};